.App {

}

.AppBarTitle {
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 20px;
}

.AppBarLinks a {
  font-weight: bold;
  color: white;
  padding: 10px;
}
.AppBarLinks a:link { color: white; }
.AppBarLinks a:hover { color: silver; text-decoration: none; }
.AppBarLinks a:visited { color: white; }

main {
  margin-top: 40px;
}
